<h1>VenID JSON should appear here!</h1>

<%= @resultspt1 %>

<br/><br/><br/><br/><br/>

<%#= @resultspt1.venues[0] %>
<%= @resultspt11 %>

<%#= @venid %>

<%#= @resultspt1.venues[0].id %>

<%#= @resultspt1.venues[1].id %>

<%#= @resultspt1.venues[2].id %>

<%#= @resultspt1.venues[3].id %>

<%#= @resultspt1.venues[4].id %>

<%#= @venid %>