// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.surv {
//	display: none;
//}

body {
	font-family: 'Abel', sans-serif !important; 
}

img {
	width: 100%;
	height: 100%;
}

#jidloTitle {
	font-size: 50px !important;
}

textarea {
	font-family: 'Abel', sans-serif !important;
	padding-left: 110px;
}

figcaption>h1 {
	font-size: 60px;
}

h1>span {
	font-size: 60px !important;
}

figcaption>p {
	font-size: 18px;
}

.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 33.333%;
	height: 400px;
	width: 100%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Section for 3 horizontal boxes on the homepage*/

figure.effect-dexter {
	/*background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);*/
	/*background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%); */
	background: none;	
}

figure.effect-dexter img {
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
	opacity: 0.4;
}

figure.effect-dexter figcaption::after {
	position: absolute;
	right: 30px;
	bottom: 30px;
	left: 30px;
	height: -webkit-calc(50% - 30px);
	height: calc(50% - 30px);
	border: 7px solid #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-100%,0);
	transform: translate3d(0,-100%,0);
	color: #FAEBD7;
}

figure.effect-dexter:hover figcaption::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
	padding: 3em;
	text-align: left;
	color: #FAEBD7;
}

figure.effect-dexter p {
	position: absolute;
	right: 60px;
	bottom: 60px;
	left: 60px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,-100px,0);
	transform: translate3d(0,-100px,0);
}

figure.effect-dexter:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-oscar {
	background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
	background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
	width: 33.33333%;
}

figure.effect-oscar img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-oscar figcaption {
	padding: 3em;
	background-color: rgba(58,52,42,0.7);
	-webkit-transition: background-color 0.35s;
	transition: background-color 0.35s;
}

figure.effect-oscar figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 1px solid #fff;
	content: '';
}

figure.effect-oscar h2 {
	margin: 23% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}

figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,-110px,0);
}

figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.effect-oscar:hover img {
	opacity: 0.4;
}

figure.effect-oscar p {
	font-size: 15px;
}

figure.effect-sarah {
	background: #42b078;
	width: 33.333333%;
}

figure.effect-sarah img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-sarah:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah figcaption {
	text-align: center;
	top: 100px;
	bottom: 30px;
}

figure.effect-sarah h2 {
	margin: -5% 0 10px 0;
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.95s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-sarah:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,-90px,0);
} 

figure.effect-sarah h2::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}

figure.effect-sarah:hover h2::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-sarah p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	font-size: 15px;
}

figure.effect-sarah:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-milo {
	background: #2e5d5a;
	width: 33.333333%;
}

figure.effect-milo img {
	width: -webkit-calc(100% + 60px);
	width: calc(100% + 60px);
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-30px,0,0) scale(1.12);
	transform: translate3d(-30px,0,0) scale(1.12);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 0.5;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h2 {
	position: absolute;
	margin: 120px 0 10px 90px;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.95s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-milo:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,-120px,0);
}

figure.effect-milo p {
	padding: 100px 10px 0 0;
	width: 50%;
	text-align: right;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-40px,0,0);
	transform: translate3d(-40px,0,0);
	font-size: 15px;
}

figure.effect-milo:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.input-field {
	border: none;
	height: 100px;
	width: 800px;
	background-color: #E03C31;
	font-size: 50px;
	color: #FAEBD7;
	text-align: center;
}

.start {
	text-align: center;
}

.form-container {
	height: 300px;
	width: 100%;
	color: #FAEBD7;
}

#party {
	position: relative;
	text-align: center;
	color: black;
}

#party h3 {
	color: #FAEBD7;
}

#submit {
	border-radius: none;
	height: 100px;
	width: 300px;
	background-color: transparent;
	border: 5px solid #FAEBD7;
	font-size: 20px;
	margin-bottom: 100px;
}

.demo-area {
	position: relative;
	margin-top: 50px;
	margin-right: auto;
	margin-left: auto;
}

.my_clip_button {
	background: transparent;
	border-radius: none;
	border: 5px solid #FAEBD7;
	height: 100px;
	width: 300px;
	text-align: center;
}

#clip {
	width: 310px;
	margin-right: auto;
	margin-left: auto;
}

#fe_text {
	position: relative;
	background: transparent;
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border: none;
}

.title {
	text-align: center;
	font-style: italic;
	font-size: 54px;
}

.title1 {
	text-align: center;
	font-style: italic;
	font-size: 33px;
}

.title2 {
	text-align: center;
	font-size: 40px;
}

.surveyDetails {
	text-align: center;
	font-size: 25px;
}

.survey1-container {
	font-size: 20px;
	margin-top: 100px;
	text-align: center;
}

.survey-submit {
	margin-top: 100px;
	text-align: center;
}

#survey1-submit-btn {
	background: transparent;
	border: 5px solid #FAEBD7;
	font-size: 20px;
}

.drop-options {
	color: black;
}

.panel-heading {
	background: none;
	border: 5px solid #FAEBD7;
	font-size: 20px;
}

.panel-body {
	color: black;
}

.rest-title {
	color: #FAEBD7;
}

#survey2-submit-btn {
	background: transparent;
	border: 5px solid #FAEBD7;
	font-size: 20px;
	margin-bottom: 100px;
}

#survey2-container {
	margin-top: 20px;
}

/* STYLING FOR ALL 3 CUBES ON SHOW PAGE */


body {
     margin-top: 125px;
 }

@-moz-keyframes spinningH {
  from {
    -moz-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -moz-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-webkit-keyframes spinningH {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -webkit-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-o-keyframes spinningH {
  from {
    -o-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -o-transform: rotateX(360deg) rotateY(360deg);
  }
}

@-ms-keyframes spinningH {
  from {
    -ms-transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    -ms-transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes spinningH {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to{
    transform: rotateX(360deg) rotateY(360deg);
  }
}

 #container {
  -webkit-perspective : 1000px;
  -moz-perspective    : 1000px;
  -o-perspective      : 1000px;
  -ms-perspective     : 1000px;
  perspective         : 1000px;

  -webkit-perspective-origin  : 50% 50%;
  -moz-perspective-origin     : 50% 50%;
  -moz-transform-origin       : 50% 50%;
  -o-perspective-origin       : 50% 50%;
  -ms-perspective-origin      : 50% 50%;
  perspective-origin          : 50% 50%;

  float: right;
  margin-right: 250px;
 }

/* .jokes {
 	font-size: 16px;
 }*/

.animate {
  -webkit-animation : spinningH 16s infinite linear;
  -moz-animation    : spinningH 16s infinite linear;
  -o-animation      : spinningH 16s infinite linear;
  -ms-animation     : spinningH 16s infinite linear;
  animation         : spinningH 16s infinite linear;
}

/* CUBE 1 STYLING */


#cube {
  position: relative;
  margin: 0 auto;
  height: 140px;
  width: 140px;

  -webkit-transition  : -webkit-transform 2s linear;
  -moz-transition     : -moz-transform 2s linear;
  -o-transition       : -o-transform 2s linear;
  -ms-transition      : -ms-transform 2s linear;
  transition          : transform 2s linear;

  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}

#cube>div {
  position: absolute;
  height: 180px;
  width: 180px;
  font-size: 24px;
  padding-top: 20px;
  /*padding: 100px;*/
  opacity: 0.9;
  border: 1px solid #FAEBD7;
  background-position:center center;
}

#cube div:nth-child(1) {
  -webkit-transform : translateZ(100px);
  -moz-transform    : translateZ(100px);
  -o-transform      : translateZ(100px);
  -ms-transform     : translateZ(100px);
  transform         : translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(100px);
  -moz-transform    : rotateY(90deg) translateZ(100px);
  -o-transform      : rotateY(90deg) translateZ(100px);
  -ms-transform     : rotateY(90deg) translateZ(100px);
  transform         : rotateY(90deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(100px);
  -moz-transform    : rotateY(180deg) translateZ(100px);
  -o-transform      : rotateY(180deg) translateZ(100px);
  -ms-transform     : rotateY(180deg) translateZ(100px);
  transform         : rotateY(180deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(100px);
  -moz-transform    : rotateY(-90deg) translateZ(100px);
  -o-transform      : rotateY(-90deg) translateZ(100px);
  -ms-transform     : rotateY(-90deg) translateZ(100px);
  transform         : rotateY(-90deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image  : url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}
#cube div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(100px) rotate(180deg);
  -moz-transform    : rotateX(-90deg) translateZ(100px) rotate(180deg);
  -o-transform      : rotateX(-90deg) translateZ(100px) rotate(180deg);
  -ms-transform     : rotateX(-90deg) translateZ(100px) rotate(180deg);
  transform         : rotateX(-90deg) translateZ(100px) rotate(180deg);
  /*background-color  : #FAEBD7;*/
  /*background-image  : url(/assets/image1.jpg);*/
  background-repeat :no-repeat;
}

#cube div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(100px);
  -moz-transform    : rotateX(90deg) translateZ(100px);
  -o-transform      : rotateX(90deg) translateZ(100px);
  -ms-transform     : rotateX(90deg) translateZ(100px);
  transform         : rotateX(90deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat :no-repeat;
  text-align:center;  
}



/* CUBE 2 STYLING */


#cube1 {
  position: relative;
  margin: 0 auto;
  height: 140px;
  width: 140px;

  -webkit-transition  : -webkit-transform 2s linear;
  -moz-transition     : -moz-transform 2s linear;
  -o-transition       : -o-transform 2s linear;
  -ms-transition      : -ms-transform 2s linear;
  transition          : transform 2s linear;

  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}

#cube1>div {
  position: absolute;
  height: 180px;
  width: 180px;
  font-size: 24px;
  padding-top: 65px;
  /*padding: 100px;*/
  opacity: 0.9;
  border: 1px solid #FAEBD7;
  background-position:center center;
}

#cube1 div:nth-child(1) {
  -webkit-transform : translateZ(100px);
  -moz-transform    : translateZ(100px);
  -o-transform      : translateZ(100px);
  -ms-transform     : translateZ(100px);
  transform         : translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube1 div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(100px);
  -moz-transform    : rotateY(90deg) translateZ(100px);
  -o-transform      : rotateY(90deg) translateZ(100px);
  -ms-transform     : rotateY(90deg) translateZ(100px);
  transform         : rotateY(90deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube1 div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(100px);
  -moz-transform    : rotateY(180deg) translateZ(100px);
  -o-transform      : rotateY(180deg) translateZ(100px);
  -ms-transform     : rotateY(180deg) translateZ(100px);
  transform         : rotateY(180deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube1 div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(100px);
  -moz-transform    : rotateY(-90deg) translateZ(100px);
  -o-transform      : rotateY(-90deg) translateZ(100px);
  -ms-transform     : rotateY(-90deg) translateZ(100px);
  transform         : rotateY(-90deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image  : url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube1 div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(100px) rotate(180deg);
  -moz-transform    : rotateX(-90deg) translateZ(100px) rotate(180deg);
  -o-transform      : rotateX(-90deg) translateZ(100px) rotate(180deg);
  -ms-transform     : rotateX(-90deg) translateZ(100px) rotate(180deg);
  transform         : rotateX(-90deg) translateZ(100px) rotate(180deg);
  /*background-color  : #FAEBD7;*/
  /*background-image  : url(/assets/image1.jpg);*/
  background-repeat :no-repeat;
}

#cube1 div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(100px);
  -moz-transform    : rotateX(90deg) translateZ(100px);
  -o-transform      : rotateX(90deg) translateZ(100px);
  -ms-transform     : rotateX(90deg) translateZ(100px);
  transform         : rotateX(90deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat :no-repeat;
  text-align:center;  
}



/*  CUBE 3 STYLING */

#cube2 {
  position: relative;
  margin: 0 auto;
  height: 140px;
  width: 140px;

  -webkit-transition  : -webkit-transform 2s linear;
  -moz-transition     : -moz-transform 2s linear;
  -o-transition       : -o-transform 2s linear;
  -ms-transition      : -ms-transform 2s linear;
  transition          : transform 2s linear;

  -webkit-transform-style : preserve-3d;
  -moz-transform-style    : preserve-3d;
  -o-transform-style      : preserve-3d;
  -ms-transform-style     : preserve-3d;
  transform-style         : preserve-3d;
}

#cube2>div {
  position: absolute;
  height: 180px;
  width: 180px;
  font-size: 24px;
  padding-top: 20px;
  /*padding: 100px;*/
  opacity: 0.9;
  border: 1px solid #FAEBD7;
  background-position:center center;
}

#cube2 div:nth-child(1) {
  -webkit-transform : translateZ(100px);
  -moz-transform    : translateZ(100px);
  -o-transform      : translateZ(100px);
  -ms-transform     : translateZ(100px);
  transform         : translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube2 div:nth-child(2) {
  -webkit-transform : rotateY(90deg) translateZ(100px);
  -moz-transform    : rotateY(90deg) translateZ(100px);
  -o-transform      : rotateY(90deg) translateZ(100px);
  -ms-transform     : rotateY(90deg) translateZ(100px);
  transform         : rotateY(90deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube2 div:nth-child(3) {
  -webkit-transform : rotateY(180deg) translateZ(100px);
  -moz-transform    : rotateY(180deg) translateZ(100px);
  -o-transform      : rotateY(180deg) translateZ(100px);
  -ms-transform     : rotateY(180deg) translateZ(100px);
  transform         : rotateY(180deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube2 div:nth-child(4) {
  -webkit-transform : rotateY(-90deg) translateZ(100px);
  -moz-transform    : rotateY(-90deg) translateZ(100px);
  -o-transform      : rotateY(-90deg) translateZ(100px);
  -ms-transform     : rotateY(-90deg) translateZ(100px);
  transform         : rotateY(-90deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image  : url(/assets/image1.jpg);*/
  background-repeat : no-repeat;
}

#cube2 div:nth-child(5) {
  -webkit-transform : rotateX(-90deg) translateZ(100px) rotate(180deg);
  -moz-transform    : rotateX(-90deg) translateZ(100px) rotate(180deg);
  -o-transform      : rotateX(-90deg) translateZ(100px) rotate(180deg);
  -ms-transform     : rotateX(-90deg) translateZ(100px) rotate(180deg);
  transform         : rotateX(-90deg) translateZ(100px) rotate(180deg);
  /*background-color  : #FAEBD7;*/
  /*background-image  : url(/assets/image1.jpg);*/
  background-repeat :no-repeat;
}

#cube2 div:nth-child(6)  {
  -webkit-transform : rotateX(90deg) translateZ(100px);
  -moz-transform    : rotateX(90deg) translateZ(100px);
  -o-transform      : rotateX(90deg) translateZ(100px);
  -ms-transform     : rotateX(90deg) translateZ(100px);
  transform         : rotateX(90deg) translateZ(100px);
  /*background-color  : #FAEBD7;*/
  /*background-image: url(/assets/image1.jpg);*/
  background-repeat :no-repeat;
  text-align:center;  
}


/* NEW STYLING */

#ven1, #ven2, #ven3 {
	font-size: 24px;
	font-weight: bold; 
	text-align: center;
}

@media (max-width: 640px) {

.grid figure {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	margin: -0.135em;
	width: 33.333%;
	height: 400px;
	width: 100%;
	background: #F9423a;
	text-align: center;
	cursor: pointer;
}

.input-field {
		height: 50px;
		max-width: 100%;
		margin-right: 5px;
		margin-left: 5px;
		font-size: 20px;
	}


#fe_text {
	position: relative;
	background: transparent;
	font-size: 30px;
	font-family: 'Abel', sans-serif;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	border: none;
}

textarea {
	font-size: 30px;
	
}

#survey3results {
	color: #FAEBD7;
	font-size: 25px;
	text-align: center;
	font-family: 'Abel', sans-serif;
	border: 5px solid #FAEBD7;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	margin-bottom: 100px;
	width: 600px;
	padding-bottom: 50px;
}

#cube, #cube1, #cube2 {
	/*display: block;*/
	padding-top: 40px;
	padding-bottom: 40px;
}

#container {
	padding-top: 15px;
	padding-bottom: 130px;
}


#bigContainer {
	margin-top: 520px;
}

#cubeContainer {
	width: 680px;
	
}

}

#survey3results {
	color: #FAEBD7;
	font-size: 25px;
	text-align: center;
	font-family: 'Abel', sans-serif;
	border: 5px solid #FAEBD7;
	margin-left: auto;
	margin-right: auto;
	border-radius: 8px;
	margin-bottom: 50px;
	width: 600px;
	padding-bottom: 50px;
}


#p1, #p2, #p3, #p4, #p5, #p6 {
	height: 160px;
	width: 160px;
	display: inline-block;
	border-radius: 10px;
	border: 1px solid #FAEBD7;
	margin: 7px;
}

span {
	font-size: 35px;
	text-decoration: underline;
}

.col-md-2 {
	font-size: 40px;
}

.scaling{
  
    -webkit-animation-name: scalex;
    -webkit-animation-duration:4s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -moz-animation-name: scale;
    -moz-animation-duration:4s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:ease-in-out;
}
    
    @-webkit-keyframes scalex{
        from {-webkit-transform: scale(0.9);}
        75% {-webkit-transform: scale(1.0);}
        to {-webkit-transform: scale(0.9);}    
    }
        
    @-moz-keyframes scale{
        from {-moz-transform: scale(0.9);}
        75% {-moz-transform: scale(1.0);}
        to {-moz-transform: scale(0.9);}    
    }
